.bg-clr{
    background-color:#fceae8;
}
.slider-btn {
	background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
	color: #fff;
	border: none;
	border-radius: 8px;
	padding: 9px 25px;
}
.catagories img{
    width: 100px;
}
.form-area{
	height: 30vh;
}